#navbar{
    
    color:black;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
   
}
#carouse{
    
    height: 60vh;
    width: 80vw;
    margin: 50px auto;
}
#carouse img{
height: 400px;
width: 600px;
margin-top: 100px;
    
}
.container-fluid{
    background-color: gray;
    height: 500px;
    margin-top: 300px;
    padding: 80px 20px;
    z-index: 1;
    transition: linear 0.5s;

}

#footer{
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    height: 100px;
    justify-content: center;
    flex-wrap: wrap;
}
#footer h2{

    margin: 25px 10px;
}
#marquee{
    background-color:rgb(176, 221, 240);
    height: 80px;
    color:black;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
main{
    background-image:linear-gradient(to bottom,rgb(209, 205, 197),rgb(224, 143, 143));
}
.card{
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: linear 0.5s;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px 5px aqua;
}

.card1{
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: linear 0.5s;
    margin: 100px 150px;

}

.card1:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px 5px aqua;
}